{% extends "pages/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Написать статью{% endblock %}

{% block content %}
  <div class="container-fluid">
    <form novalidate method="post">
      {% csrf_token %}
      {{ formset.management_form }}
      <div class="row">
          <div class="col-8 offset-md-3">
            {{ formset|crispy }}
          </div>
      <input type="submit" name="submit" value="Добавить раздел" class="btn btn-primary col-2 offset-md-3">
      </div>
    </form>
  </div>
{% endblock %}
