{% extends 'pages/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

  <div class="container-fluid content-body">
    <div class="row">
      <!-- Навигация статьй -->
      <div class="col-2">
        <ul class="post-nav mt-4">
          {% for link in post.paragraphs.all %}
            <li class="mt-4">
              <a href="#{{ link.subtitle }}">{{ link.subtitle }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <!-- Основной контент -->
      <div class="col-8 offset-md-1 mt-4">
        <div class="container post-header mb-4">
          <h1>{{ post.title }}</h1>
        </div>
        {% for paragraph in post.paragraphs.all %}
          <h4 class="font-weight-bold" id="{{ paragraph.subtitle }}">{{ paragraph.subtitle }}</h4>
          <p class="font-weight-normal">{{ paragraph.subtext|safe }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
