{% extends "pages/base.html" %}
{% block title %}Список постов{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-8 ml-4">
        {% for post in all_post %}
          {% with paragraph=post.paragraphs.first %}
          <div class="container mt-4" id="post-item">
            <a href="{% url 'post:post_detail' slug=post.slug %}"><h3>{{ post.title }}</h3></a>
            <p>
              Опубликовано {{ post.publish }}  Автор {{ post.author }}.
            <a href="{% url 'post:post_update' slug=post.slug %}">Изменить</a>
            <a href="{% url 'post:post_delete' slug=post.slug %}">Удалить</a>
            </p>
            <div class="post-tags container-fluid">
              <ul class="list-inline">
              {% for tag in post.tags.all %}
                <li class="list-inline-item mb-2">
                  <a href="{{ tag.get_absolute_url }}" class="tag">#{{ tag.name }}</a>
                </li>
              {% endfor %}
              </ul>
            </div>
            <p>{{ post.title_text }}</p>
            <div class="d-flex justify-content-end col-11">
              <p><i class="far fa-comment"></i> {{ post.get_comments.count }}
                  <i class="far fa-eye"></i>  {{ post.view_count }}
              </p>
            </div>
          </div>
          {% endwith %}
        {% endfor %}
        <!-- Пагинатор -->
        {% if page.nuber > 1 %}
          <div class= "container">
            <nav aria-label="main-paginator">
              <ul class="pagination pagination-lg justify-content-center">
                {% if page.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page.previous_page_number }}">Назад</a>
                  </li>
                {% endif %}

                {% for n in page.paginator.page_range %}

                  {% if page.number == n %}

                    <li class="page-item active">
                      <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                    </li>

                  {% elif n > page.number|add:-3 and n <  page.number|add:3 %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                    </li>
                  {% endif %}

                {% endfor %}

                {% if page.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page.next_page_number }}">Вперёд</a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        {% endif %}
      </div>
      {% include 'pages/sidebar.html' with most_recent=most_recent category_count=category_count %}
    </div>
  </div>
{% endblock %}

<!--Пагинатор-->
  <!-- <div class="paginator">
    {% if page.has_previous %}
      <a href="?page={{ page.previous_page_number }}">Назад</a>
    {% endif %}
    Страница {{ page.number }} из {{ page.paginator.num_pages }}
    {% if page.has_next %}
      <a href="?page={{ page.next_page_number }}">Дальше</a>
    {% endif %}
  </div> -->

<!-- {% for post in all_post %}
{% endfor %} -->
