{% extends "pages/base.html" %}
{% block title %}Список постов{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        {% for post in all_post %}
          {% with paragraph=post.paragraphs.first %}
          <div class="container mt-4" id="post-item">
            <a href="{% url 'post:post_detail' slug=post.slug %}"><h3>{{ post.title }}</h3></a>
            <p>{{ paragraph.subtext|truncatewords:49|safe }}</p>
            <p>Опубликовано {{ post.publish }}. Автор {{ post.author }}.
            <a href="{% url 'post:post_update' slug=post.slug %}">Изменить</a>
            <a href="{% url 'post:post_delete' slug=post.slug %}">Удалить</a>
            </p>
          </div>
          {% endwith %}
        {% endfor %}
      </div>
    </div>
  </div>
<!--Пагинатор-->
  <div class="paginator">
    {% if page.has_previous %}
      <a href="?page={{ page.previous_page_number }}">Назад</a>
    {% endif %}
    Страница {{ page.number }} из {{ page.paginator.num_pages }}
    {% if page.has_next %}
      <a href="?page={{ page.next_page_number }}">Дальше</a>
    {% endif %}
  </div>
{% endblock %}

<!-- {% for post in all_post %}
{% endfor %} -->
