 <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

body, html {
   height: 100%;
   width: 100%;
   /* font-family: 'Poppins', sans-serif; */
   color: #222;
   background-color: #FAFAFA;
}

body, wrapper {
   min-height:100vh;
}

/* .blog-header {
} */


.nav-main {
  background-color: #FAFAFA;
}

#categories {
      line-height: 1;
      border-top: 1px solid #e5e5e5;
}

.latest-posts a  {
  color:  #50504f;
  direction: none;
}

.title-brand  {
  font-size: 50px;
}

.title-brand a:hover {
  text-decoration: none;
}

.navbar-brand a {
  color: red;
}


.footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #e9dfff;
    border-top: .05rem solid #e5e5e5;
    width: 100%;
    display: block;
}

.flex-fill {
   flex:1 1 auto;
}

.content {
  background-color:  #FAFAFA;
  min-height: 100%;
}


#post-item {
  background-color:  #FAFAFA;
}

.content-body p {
    margin: 0 0 22px;
    line-height: 1.7;
    font-size: 19px;
}


 li {
  list-style: none;
}

.side-nav {
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: scroll;
}

.post-nav a {
  color:   #686865;
}

.post-nav a:hover {
  color :   #424240;
}

.post-nav a {
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
}


#post-item h3 {
  color : #031b4e;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
}

#post-item a {
  color : #031b4e;
}

.post-thumbnail img {
  max-height: 400px;
  width: 100%;
  margin-bottom: 10px;
}

.form-account {
    width: 100%;
    padding: 15px;
    margin: auto;
    border: 4px double black;
}

.asteriskField {
    display: none;
}

.tag {
    padding: 5px 25px;
    border: 1px solid #ddd;
    margin: 5px 0;
    color: #777 !important;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;
}

aside .tag {
  padding: 2px 15px;
  border: 1px solid #ddd;
  margin: 5px 0;
  color: #777 !important;
  font-size: 0.6em;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  border-radius: 50px;
}


.post-comments .title::after {
  display: none;
}

.comment-header img {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
}

.avatar-img img {
  max-width: 40px;
  min-width: 40px;
  height: 40px;
}

.post-comments strong {
  display: block;
  color: #555;
}

.post-comments span.date {
  font-size: 0.8em;
  color: #999;
}

.post-comments span.date::after {
  display: none;
}

.post-comments .comment-body {
  margin-left: 55px;
  margin-top: 10px;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.post-comments p {
  font-size: 0.95em;
  color: #555;
}
