 <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

body, html {
   height: 100%;
   width: 100%;
   /* font-family: 'Poppins', sans-serif; */
   color: #222;
   background-color: #f2f2e2;
}

.footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #e9dfff;
    border-top: .05rem solid #e5e5e5;
    width: 100%;
    bottom: 0;
    display: block;
}

.content {
  background-color: #f2f2e2;
  min-height: 100%;
}


#post-item {
  background-color: #f2f2e2;
}

.content-body p {
    margin: 0 0 22px;
    line-height: 1.7;
    font-size: 19px;
}


 li {
  list-style: none;
}

.post-nav a {
  color:   #686865;
}

.post-nav a:hover {
  color :   #424240;
}

.post-nav a {
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
}

.main-nav {
  background-color:#cecec5;
  height: 75px;
}

#post-item h3 {
  color : #031b4e;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
}
