{% load static %}
<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script>
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    </script>
    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
    <!-- Неработающий конфиг для tinymce -->
    <!-- <script type="text/javascript">
    tinymce.init({
      selector: '#myTextarea',
      width: 600,
      height: 300,
      plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
        'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
        'table emoticons template paste help'
      ],
      toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist outdent indent | link image | print preview media fullpage | ' +
        'forecolor backcolor emoticons | help',
      menu: {
        favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | spellchecker | emoticons'}
      },
      menubar: 'favs file edit view insert format tools table help',
      content_css: 'css/content.css'
    });
    </script> -->
    <title>{% block title %}{% endblock %}</title>
  </head>
  <wrapper class="d-flex flex-column">
    <body>
    <!--Панел навигаций-->
    <nav class="nav">
      <div class="container-fluid nav-main">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
              <div class="col-4">
                <form class="form-inline" action="{% url 'post:search' %}">
                  <div class="form-group">
                    <input class="form-control mr-sm-2" type="text" placeholder="Поиск статей" aria-label="Search" name="main-search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </div>
                </form>
              </div>
              <div class="col-4 text-center title-brand">
                <a class="text-muted" href="{% url 'post:post_list' %}"><h2>Μουσεῖον</h2></a>
              </div>
              <div class="col-4 d-flex justify-content-end align-items-center">

                {% if request.user.is_authenticated %}
                <ul class="nav">
                  <li class="nav-item">
                    <a class="btn btn-sm btn-outline-secondary ml-2 nav-link" href="{% url 'account:logout' %}">Выйти</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-sm btn-outline-secondary ml-2 nav-link" href="{% url 'post:post_create' %}">Написать статью</a>
                  </li>
                  <li class="nav-item avatar-img">
                    <div class="image mr-2 ml-2">
                      {% if request.user.customuser.profile_picture %}
                        <a href="{% url 'account:profile_user' username=request.user.username %}">
                          <img src="{{request.user.customuser.profile_picture.url}}" alt="..." class="img-fluid rounded-circle">
                        </a>
                      {% else %}
                        <a href="{% url 'account:profile_user' username=request.user.username %}">
                          <img class="profile-pic mb-2" src="{% static 'images/profile2.png' %}">
                        </a>
                      {% endif %}
                    </div>
                  </li>
                </ul>
                {% else %}
                  <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'account:login' %}">Войти</a>
                  <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'account:register' %}">Регистрация</a>
                {% endif %}
              </div>
            </div>
          </header>
          {% if categories %}
            <div class="nav-scroller py-1 mb-2" id="categories">
              <nav class="nav d-flex justify-content-center">
                {% for c in categories %}
                  <a class="p-2 text-muted" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                {% endfor %}
                <!-- <a class="p-2 text-muted" href="#">World</a>
                <a class="p-2 text-muted" href="#">U.S.</a>
                <a class="p-2 text-muted" href="#">Technology</a>
                <a class="p-2 text-muted" href="#">Design</a>
                <a class="p-2 text-muted" href="#">Culture</a>
                <a class="p-2 text-muted" href="#">Business</a>
                <a class="p-2 text-muted" href="#">Politics</a>
                <a class="p-2 text-muted" href="#">Opinion</a>
                <a class="p-2 text-muted" href="#">Science</a>
                <a class="p-2 text-muted" href="#">Health</a>
                <a class="p-2 text-muted" href="#">Style</a>
                <a class="p-2 text-muted" href="#">Travel</a> -->
              </nav>
            </div>
          {% endif %}
        </div>
    </nav>


      <div class="content flex-fill">
        {% block content %}
        {% endblock %}
      </div>
      <footer class="footer py-3">
            <div class="container">
              <p class="text-muted">Сделано Engi Barnaby</p>
              <p>Моя почта calnikov13@gmail.com</p>
            </div>
      </footer>
    </body>
</wrapper>
</html>
