
{% extends "pages/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Создание пароля{% endblock %}

{% block content %}
<div class="container h-100 mt-4">
	<div class="d-flex justify-content-center h-100">
    <div class="d-flex justify-content-center mb-4  ">
			<div class="row">
				<div class="col-10">
					<h3>Создание пароля</h3>
					<p>Пожалюйста, введите пароль дважды</p>
					<form method="post">
						{% csrf_token %}
							<!-- <input type="email" name="username" class="form-control py-2 border-left-0 border" placeholder="Email"> -->
							{{form|crispy}}
						<input type="submit" class="btn btn-secondary" value="Обновить пароль">
					</form>
				</div>
			</div>
    </div>
	</div>
</div>
{% endblock %}
