{% extends "pages/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Сбросить пароль{% endblock %}

{% block content %}
<div class="container-fluid h-100 mt-4">
	<div class="d-flex justify-content-center">
			<div class="row">
				<div class="col-12">
					<h3>Сброс пароля</h3>
          <p>Введите ваш адресс</p>
					<form method="post">
						{% csrf_token %}
							{{form|crispy}}
						<input type="submit" class="btn btn-secondary" value="Отправить">
					</form>
				</div>
			</div>
	</div>
</div>
{% endblock %}
